@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(192, 192, 192);
  -webkit-font-smoothi: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(238, 238, 238, 0.784);
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3rem;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 2px 0;
  background-color: #1a1a1a;
}


button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* input {
  caret-color: white;  
} */

.custom-input {
  @apply mx-2 bg-white px-2 py-1 font-bold text-black caret-gray-500 outline outline-1 outline-gray-300 placeholder:italic placeholder:font-normal;
}

input:focus,
input:active {
  outline: none;
}

@keyframes pulse {
  50% {
      opacity: .5;
  }
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}


.load-animation {
  animation: pulse .8s ease-in-out infinite, spin .8s linear infinite;
}